{%- extends '_organisms/headers/_header--props' -%}
{%- import '_macros/organic' as organisms -%}
{%- import '_macros/atomic' as atoms -%}


{% block header %}
    {{- organisms.organism('header', 'content', {
        content: '
            <h1 class="text-3xl font-bold text-orange-900">{{ entry.title }}</h1>
            <p class="mt-2 text-lg text-gray-700">{{ entry.description }}</p>',
        color: 'text-orange-900',
        utilities: 'bg-teal-200',
    }) -}}
{% endblock %}